body {
  font-family: "Raleway", sans-serif;
  /* Eliminado padding-top */
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.JPG");
  background-repeat: no-repeat;
  background-size: contain; /* <-- Cambiado de cover a contain */
  background-position: center;
  background-color: #2a2626; /* o cualquier color que combine */
  padding-top: 100px;
  padding-bottom: 80px;
  min-height: 90vh; /* Asegura un alto adecuado en todas las pantallas */
}


/* Mis trabajos */
.bg-info {
  --bs-bg-opacity: 1;
  background-color: #41464b !important;
}

#Mis-trabajos .image-top {
  height: 350px; /* o 400px, ajusta según se vea mejor */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.375rem; /* si quieres bordes redondeados */
  border-top-right-radius: 0.375rem;

}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
