body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;  
}
h1, h2, h3, .display-1, .display-3 {
  font-weight: 700; /* Montserrat Bold para encabezados */
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain; /* <-- Cambiado de cover a contain */
  background-position: center;
  background-color: #2a2626; /* o cualquier color que combine */
  padding-top: 100px;
  padding-bottom: 80px;
  min-height: 90vh; /* Asegura un alto adecuado en todas las pantallas */
}


/* Mis trabajos */
.bg-info {
  --bs-bg-opacity: 1;
  background-color: #41464b !important;
}

#Mis-trabajos .image-top {
  height: 350px; /* o 400px, ajusta según se vea mejor */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.375rem; /* si quieres bordes redondeados */
  border-top-right-radius: 0.375rem;

}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

#msg-alerta {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:focus + #msg-alerta,
button:hover + #msg-alerta {
  visibility: visible;
  opacity: 1;
}

footer a {
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

footer a:hover {
  transform: scale(1.2);
}

/* Colores personalizados por red social */
footer a .fa-youtube:hover {
  color: #FF0000;
}

footer a .fa-spotify:hover {
  color: #1DB954;
}

footer a .fa-instagram:hover {
  color: #E1306C;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
